@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    --left-container: black;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.left-div {
    border: 1px solid black;
    background: url(./assets/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
    background-size: 600px 100vh;
    width: min(40%, 600px);
}

.container-l {
    background-color: var(--left-container);
    opacity: .7;
}

.square {
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1;
    font-family: "Norse";
    font-size: 50px;
    height: 150px;
    
}

.logo {
    width: 120px;
    height: 120px;
}

.right-div {
    border: 1px solid black;
    width: min(50%, 850px);
}

